<div class="card-header">
  <h2>Cadastro de Usuário</h2>
</div>
<div class="card-body">
  <form action="/usuario/novo" method="post" class="form-inline">
    <div class="row">
      <div class="col-sm-6 md-3">
        <label for="email">E-mail</label>
        <input
          type="text"
          placeholder="email"
          id="email"
          value="Herundina@gmail.com"
          class="form-control"
        />
      </div>
      <div class="col-sm-6 md-3">
        <label for="senha">Senha</label>
        <input
          type="password"
          id="senha"
          placeholder="Senha"
          class="form-control"
        />
      </div>
      <div class="row">
        <em>Falta validar a senha</em>
      </div>
    </div>
    <div class="row">
      <div class="d-grid gap-1 col-6">
        <button type="submit" class="btn btn-primary">Cadastrar Usuário</button>
      </div>
      <div class="d-grid gab-1 col-6">
        <button type="button" class="btn btn-warning">
          Desistir de Cadastrar Usuário
        </button>
      </div>
    </div>
  </form>
</div>
