<a class="sidebar-brand" [routerLink]="['/']">
  <svg>
    <use xlink:href="#ion-ios-pulse-strong"></use>
  </svg>
  Bem Publico Municipal
</a>
<div class="sidebar-content">
  <div class="sidebar-user">
    <img
      src="assets/img/avatars/avatar.jpg"
      class="img-fluid rounded-circle mb-2"
      alt="Linda Miller"
    />
    <div class="fw-bold">Prefeitura Municipal de Juazeiro do Norte - CE</div>
    <small>Bem Público Municipal</small>
  </div>

  <ul class="sidebar-nav">
    <li class="sidebar-header">Início</li>
    <li class="sidebar-item">
      <a
        data-bs-target="#dashboards"
        data-bs-toggle="collapse"
        class="sidebar-link collapsed"
      >
        <i class="align-middle me-2 fas fa-fw fa-home"></i>
        <span class="align-middle">Cadastro</span>
      </a>

      <ul
        id="dashboards"
        class="sidebar-dropdown list-unstyled collapse"
        data-bs-parent="#sidebar"
      >
        <li class="sidebar-item">
          <a
            data-bs-toggle="collapse"
            data-bs-target="#menu_funcionario"
            class="sidebar-link collapsed"
          >
            <i class="align-middle me-2 fas fa-fw fa-user"></i>
            <span class="align-middle">Funcionário</span>
          </a>

          <ul
            id="menu_funcionario"
            class="sidebar-dropdown list-unstyled collapse"
            data-bs-parent="funcionario"
          >
            <ul
              data-bs-parent="menu_funcionario"
              class="sidebar-dropdown"
              data-bs-target="sidebarFuncionario"
            >
              <li class="sidebar-item">
                <a
                  class="sidebar-link"
                  [routerLink]="['/funcionario']"
                  routerLinkActive="active"
                  ariaCurrentWhenActive="page"
                  >Cadastrar Funcionario</a
                >
              </li>
              <li class="sidebar-item">
                <a
                  class="sidebar-link"
                  [routerLink]="['/funcionarios']"
                  routerLinkActive="active"
                  ariaCurrentWhenActive="page"
                  >Lista de Funcionarios</a
                >
              </li>
            </ul>
          </ul>
        </li>

        <li class="sidebar-item">
          <a class="sidebar-link" [routerLink]="['/usuario']">Usuário</a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" [routerLink]="['/bemPublico']">Bem Público</a>
        </li>
        <!--<li class="sidebar-item">
          <a class="sidebar-link" [routerLink]="['/certidao']">Certidão</a>
        </li>-->
        <li class="sidebar-item">
          <a class="sidebar-link" [routerLink]="['/pastaArquivo']"
            >Pasta Arquivo</a
          >
        </li>
      </ul>
    </li>

    <!--<li class="sidebar-item active">
      <a data-bs-target="#pages" data-bs-toggle="collapse" class="sidebar-link">
        <i class="align-middle me-2 fas fa-fw fa-file"></i>
        <span class="align-middle">Pages</span>
      </a>
      <ul
        id="pages"
        class="sidebar-dropdown list-unstyled collapse show"
        data-bs-parent="#sidebar"
      >
        <li class="sidebar-item">
          <a class="sidebar-link" href="">Settings</a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href=""
            >Clients
            <span class="sidebar-badge badge rounded-pill bg-primary"
              >New</span
            ></a
          >
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="">Invoice</a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="">Pricing</a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="">Tasks</a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href=""
            >Chat
            <span class="sidebar-badge badge rounded-pill bg-primary"
              >New</span
            ></a
          >
        </li>
        <li class="sidebar-item active">
          <a class="sidebar-link" href="">Blank Page</a>
        </li>
      </ul>
    </li>
    <li class="sidebar-item">
      <a
        data-bs-target="#auth"
        data-bs-toggle="collapse"
        class="sidebar-link collapsed"
      >
        <i class="align-middle me-2 fas fa-fw fa-sign-in-alt"></i>
        <span class="align-middle">Auth</span>
      </a>
      <ul
        id="auth"
        class="sidebar-dropdown list-unstyled collapse"
        data-bs-parent="#sidebar"
      >
        <li class="sidebar-item">
          <a class="sidebar-link" href="">Sign In</a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="">Sign Up</a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="">Reset Password</a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="">404 Page</a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="">500 Page</a>
        </li>
      </ul>
    </li>

    <li class="sidebar-header">Elements</li>
    <li class="sidebar-item">
      <a
        data-bs-target="#ui"
        data-bs-toggle="collapse"
        class="sidebar-link collapsed"
      >
        <i class="align-middle me-2 fas fa-fw fa-flask"></i>
        <span class="align-middle">User Interface</span>
      </a>
      <ul
        id="ui"
        class="sidebar-dropdown list-unstyled collapse"
        data-bs-parent="#sidebar"
      >
        <li class="sidebar-item">
          <a class="sidebar-link" href="">Alerts</a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="">Buttons</a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="">Cards</a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="">General</a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="">Grid</a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="#">Modals</a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="#">Offcanvas</a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="#">Placeholders</a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="#">Notifications</a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="#">Tabs</a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="#">Typography</a>
        </li>
      </ul>
    </li>
    <li class="sidebar-item">
      <a
        data-bs-target="#charts"
        data-bs-toggle="collapse"
        class="sidebar-link collapsed"
      >
        <i class="align-middle me-2 fas fa-fw fa-chart-pie"></i>
        <span class="align-middle">Charts</span>
        <span class="sidebar-badge badge rounded-pill bg-primary">New</span>
      </a>
      <ul
        id="charts"
        class="sidebar-dropdown list-unstyled collapse"
        data-bs-parent="#sidebar"
      >
        <li class="sidebar-item">
          <a class="sidebar-link" href="#">Chart.js</a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="#">ApexCharts</a>
        </li>
      </ul>
    </li>-->

    <li class="sidebar-item">
      <a
        data-bs-target="#forms"
        data-bs-toggle="collapse"
        class="sidebar-link collapsed"
      >
        <i class="align-middle me-2 fas fa-fw fa-check-square"></i>
        <span class="align-middle">Forms</span>
      </a>
      <ul
        id="forms"
        class="sidebar-dropdown list-unstyled collapse"
        data-bs-parent="#sidebar"
      >
        <li class="sidebar-item">
          <a class="sidebar-link" href="#">Layouts</a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="#">Basic Elements</a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="#">Advanced Elements</a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="#">Floating Labels</a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="#">Input Groups</a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="#">Editors</a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="#">Validation</a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="#">Wizard</a>
        </li>
      </ul>
    </li>

    <!--
    <li class="sidebar-item">
      <a class="sidebar-link" href="#">
        <i class="align-middle me-2 fas fa-fw fa-list"></i>
        <span class="align-middle">Tables</span>
      </a>
    </li>
    <li class="sidebar-item">
      <a
        data-bs-target="#datatables"
        data-bs-toggle="collapse"
        class="sidebar-link collapsed"
      >
        <i class="align-middle me-2 fas fa-fw fa-table"></i>
        <span class="align-middle">DataTables</span>
      </a>
      <ul
        id="datatables"
        class="sidebar-dropdown list-unstyled collapse"
        data-bs-parent="#sidebar"
      >
        <li class="sidebar-item">
          <a class="sidebar-link" href="#">Responsive Table</a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="#">Table with Buttons</a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="3">Column Search</a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="#">Fixed Header</a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="#">Multi Selection</a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="#">Ajax Sourced Data</a>
        </li>
      </ul>
    </li>
    <li class="sidebar-item">
      <a
        data-bs-target="#icons"
        data-bs-toggle="collapse"
        class="sidebar-link collapsed"
      >
        <i class="align-middle me-2 fas fa-fw fa-heart"></i>
        <span class="align-middle">Icons</span>
      </a>
      <ul
        id="icons"
        class="sidebar-dropdown list-unstyled collapse"
        data-bs-parent="#sidebar"
      >
        <li class="sidebar-item">
          <a class="sidebar-link" href="#">Feather</a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="#">Ion Icons</a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="#">Font Awesome</a>
        </li>
      </ul>
    </li>
    <li class="sidebar-item">
      <a class="sidebar-link" href="">
        <i class="align-middle me-2 far fa-fw fa-calendar-alt"></i>
        <span class="align-middle">Calendar</span>
      </a>
    </li>
    <li class="sidebar-item">
      <a
        data-bs-target="#maps"
        data-bs-toggle="collapse"
        class="sidebar-link collapsed"
      >
        <i class="align-middle me-2 fas fa-fw fa-map-marker-alt"></i>
        <span class="align-middle">Maps</span>
      </a>
      <ul
        id="maps"
        class="sidebar-dropdown list-unstyled collapse"
        data-bs-parent="#sidebar"
      >
        <li class="sidebar-item">
          <a class="sidebar-link" href="">Google Maps</a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="">Vector Maps</a>
        </li>
      </ul>
    </li>

    <li class="sidebar-header">Extras</li>
    <li class="sidebar-item">
      <a
        data-bs-target="#documentation"
        data-bs-toggle="collapse"
        class="sidebar-link collapsed"
      >
        <i class="align-middle me-2 fas fa-fw fa-book"></i>
        <span class="align-middle">Documentation</span>
      </a>
      <ul
        id="documentation"
        class="sidebar-dropdown list-unstyled collapse"
        data-bs-parent="#sidebar"
      >
        <li class="sidebar-item">
          <a class="sidebar-link" href="">Getting Started</a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="">Plugins</a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="">Changelog</a>
        </li>
      </ul>
    </li>-->
  </ul>
</div>
