<div class="card-header">
  <h2>Funcionários Cadastrados</h2>
</div>
<div class="card-body">
  <div class="row table-responsive">
    <table class="table table-striped table-hover" id="myTable">
      <thead>
        <tr>
          <th class="text-left">Funcionario</th>
          <th class="text-center">Ver mais Informação</th>
          <th class="text-center">Excluir</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th class="text-left">Funcionario</th>
          <th class="text-center">Ver mais Informação</th>
          <th class="text-center">Excluir</th>
        </tr>
      </tfoot>
      <tbody class="text-left" id="i_tbody">
        <tr *ngFor="let funcionario of listaFuncionario$ | async">
          <td class="text-left">
            <span
              ><strong>Setor:{{ funcionario.setor }}</strong></span
            ><br />
            <span
              ><strong>Funcionario:{{ funcionario.funcionario }}</strong></span
            ><br />
            <span
              ><strong>CPF:{{ funcionario.cpf }}</strong></span
            ><br />
            <span
              ><strong>Matrícula:{{ funcionario.matricula }}</strong></span
            ><br />
            <span
              ><strong>Secretaria:{{ funcionario.secretaria }}</strong></span
            ><br />
            <span
              ><strong>Setor:{{ funcionario.setor }}</strong></span
            ><br />
          </td>
          <td class="text-center">
            <a
              [routerLink]="['/funcionario/edt', funcionario._id]"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              ><i class="align-middle fas fa-fw fa-edit" title="Ver mais"></i>
            </a>
          </td>
          <td class="text-center">
            <a href="#"
              ><i class="align-middle fas fa-fw fa-trash" title="Excluir"></i
            ></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<script>
  $(document).ready(function () {
    $("#myTable").DataTable({
      language: {
        lengthMenu: "Exibir _MENU_ registros por página",
        zeroRecords: "Nenhum Funcionário Localizdo!",
        info: "Exibindo _PAGES_ de _PAGES_",
        infoEmpty: "Não há registros disponíveis",
        infoFiltered: "(Localizado de _MAX_ total de registros)",
        search: "Pesquisar",
        paginate: {
          next: "Próximo",
          previous: "Anterior",
          first: "Primeiro",
          last: "Último",
        },
      },
      order: [[0, "desc"]],
    });
  });
</script>
