<div class="card-header">
  <h2>Cadastro de Pasta Arquivo</h2>
</div>
<div class="card-body">
  <form action="/pastaARquivo/novo" method="post" class="form-inline">
    <div class="row">
      <div class="col-sm-6 mb-3">
        <label for="pasta">Pasta Arquivo</label>
        <input
          type="text"
          placeholder="Pasta"
          id="pasta"
          class="form-control"
        />
      </div>
    </div>
    <div class="row">
      <div class="d-grid gap-1 col-6">
        <button type="submit" class="btn btn-primary">Cadastrar Pasta</button>
      </div>
      <div class="d-grid gab-1 col-6">
        <button type="button" class="btn btn-warning">
          Desistir de Cadastrar Pasta
        </button>
      </div>
    </div>
  </form>
</div>
