<footer class="footer">
  <div class="container-fluid">
    <div class="row text-muted">
      <div class="col-8 text-start">
        <ul class="list-inline">
          <li class="list-inline-item">
            <a class="text-muted" [routerLink]="['/inicio']">Inicio</a>
          </li>
          <li class="list-inline-item">
            <a class="text-muted" href="#"></a>
          </li>
          <li class="list-inline-item">
            <a class="text-muted" href="#"></a>
          </li>
          <li class="list-inline-item">
            <a class="text-muted" href="#"></a>
          </li>
        </ul>
      </div>
      <div class="col-4 text-end">
        <p class="mb-0">
          &copy; 2022 -
          <a class="text-muted"
            >Núcleo de Técnologia da Informação Secretaria de Saúde de Juazeiro
            do Norte - CE</a
          >
        </p>
      </div>
    </div>
  </div>
</footer>
